.project-gif {
  object-fit: contain;
  border-radius: 21px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.wrapper-info {
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;

  .project-tool {
    object-fit: contain;
    max-width: 70px;
    max-height: 70px;
    margin-inline: 3%;
  }
}

.container:hover .project-gif {
  filter: blur(10px) brightness(50%);
}

.container:hover .wrapper-info {
  opacity: 1;
  z-index: 10;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
