.submit-animation {
  .submit-container {
    .submitletter-container {
      display: flex;
      justify-content: center;
      position: relative;
      width: 5rem;
      height: 2rem;
      div {
        position: absolute;
        pointer-events: none;
      }
    }
  }
}
